
@import 'partials/vars';
@import 'partials/commons';
#features {
    background-color: $primary_color;
    min-height: 150px;
    display: flex;
    align-items: center;
    .container {
        display: flex;
        align-items: center;
        ul {
            display: flex;
            width: 100%;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        .features__item {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            .features__img {
                width: 50px;
                height: 60px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .features__title {
                text-transform: uppercase;
                margin-left: 15px;
                color: $text_light;
                font-weight: $bold;
            }
        }
    }
}
