

footer {
    background-image: url('../../../public/images/footer-bg.jpg');
    .footer__top {
        height: 450px;
        overflow: hidden;
        .container {
            .footer__links {
                display: flex;
                justify-content: space-between;
                .col {
                    margin-right: 45px;
                    color: $text_light;
                    ul {
                        list-style: none;
                        h3 {
                            margin: 25px 0px 10px 0px;
                        }
                        li {
                            a {
                                text-decoration: none;
                                color: $text_dark;
                            }
                        }
                    }
                }
            }
            display: flex;
            align-items: center;
            justify-content: space-between;
            .footer__img {
                width: 600px;
                img {
                    object-fit: cover;
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    .footer__bottom {
        background-color: $secondary_color;
        padding: 20px;
        .container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            .footer__signup {
                button {
                    color: $text_light;
                    border: 2px solid $primary_color;
                    padding: 10px 20px;
                    outline: none;
                    background-color: transparent;
                }
            }
            .footer__socials {
                display: flex;
                align-items: center;
                color: $primary_color;
                img {
                    width: 30px;
                    aspect-ratio: 1;
                    margin-left: 15px;
                }
            }
    }
}
}
